.header{background-attachment:fixed;}
.hader ul img{width:100%;}
.navbar p{padding:10px;}
.main h2{text-align:center;}
.main span{color:red;
          text-decoration:underline;}
.header > ul {background-color: #FFECF5;
             padding: 10px;
             display: flex;
             justify-content: space-between;
              align-items: center; }
.navbar {display: flex;
     background-color: #FFBB77;
     position: fixed;
     width: 100%;}
 .wrap {display: flex;
     justify-content: center; 
     flex-wrap: wrap; 
     padding: 20px; }
   
.wrap img {width: 100%; 
     max-width: 400px; }
.main {display: flex;
     flex-direction: column; 
     align-items: center;}
.main img {width: 100%; 
     max-width: 200px;}
.footer {border-top: 1px solid black;
     text-align: center;
     padding: 20px; }
ul,ol {list-style: none;
     padding: 0;}